In [2]:
from dbrepo.RestClient import RestClient
from typing import List
import pandas as pd

# DBRepo

In [3]:
client = RestClient(endpoint="http://test.dbrepo.tuwien.ac.at", username="daria.stefan",
                    password="F@ntasiaRed7712") #so secure so safe much wow

user = client.get_user(user_id="fe88dee0-b5fa-103f-925a-771c9581a932")
print(f"user info: {user}")

user info: id='fe88dee0-b5fa-103f-925a-771c9581a932' username='daria.stefan' attributes=UserAttributes(theme='light', language='en', orcid='https://orcid.org/0009-0008-0586-9350', affiliation='0000 0004 1937 0669') qualified_name='Daria Stefan — @daria.stefan' given_name='Daria' family_name='Stefan' name='Daria Stefan'

In [4]:
databases = client.get_databases()

# Loop through and print name + id of each database
for db in databases:
    print(f"Name: {db.name}, ID: {db.id}")

Name: NFL Stadium Attendance, ID: fcedf17b-1ff2-4730-a314-af2d720d2c3f
Name: customer_personality_analysis, ID: f5fb6f43-4589-4c69-913a-23ee03f768b6
Name: Py_Illicit_Trade_KG, ID: f5ede80d-828b-47a0-bdf7-87fdffff815a
Name: ML and semi-automatic KG enrichment, ID: f364ce6f-6a52-43d5-bcd7-bc98e709c72c
Name: loan-dataset, ID: f234cb20-706f-4995-9ab9-89bcbf25d027
Name: Online Food Ordering System, ID: ef19ab12-0720-485c-b133-57a618a55bb8
Name: Py_Illicit_Trade_KG, ID: e7eab916-a14f-44d6-8457-ecc542248aa5
Name: Py_Illicit_Trade_KG, ID: e30f2ca5-ba60-4587-849b-4a496abfc186
Name: Airbnb Listings US 2023/12331410, ID: cf2d0d37-7b08-4b2b-841c-90517e95937a
Name: Py_Illicit_Trade_KG, ID: c834a548-f963-468b-9c4a-5b5f81b28c9a
Name: synthetic_student_data, ID: c45328ec-80f7-497d-8be6-c3505489ddb4
Name: Rainfall Prediction, ID: b71909fb-f916-4255-87cb-31dea8175ee0
Name: IoMT_dataset, ID: b3ac4b9e-f066-48f9-8bdd-326500cb1849
Name: Py_Illicit_Trade_KG, ID: b3616b9c-9ef6-4cde-b64e-c03f899c1225
Name: owid-co2-data, ID: 99116b65-645f-4057-8353-21628a0e52ed
Name: AirBnB_US_2023_Data_e12327971, ID: 93fa93be-a40d-49e0-9757-ef1d66a257bc
Name: Student Exam Performance Dataset, ID: 8ff79e23-a799-47dd-b767-d501e61fde29
Name: Py_Illicit_Trade_KG, ID: 81600586-b4d6-4453-b187-77cce5dd5307
Name: Illicit trade KG, ID: 7fd51abf-d821-4d57-95d5-9bb2ecd4b8e8
Name: machine_failure, ID: 7f109eb4-a337-422e-9b22-f43b7f2a4cf6
Name: Rocket League Skillshot, ID: 75a0e9af-2637-4d04-bf73-57261a2e7f25
Name: spam_mail_detector, ID: 7105b5ed-3020-42ad-8f67-f670c2f6fa18
Name: Seoul Bike Demand, ID: 674930b1-c199-4f3a-aa57-7ba55445bcd2
Name: Wolf Sightings in Upper Austria, ID: 4c9ac630-7ec5-491c-b727-0bea3224da91
Name: Py_Illicit_Trade_KG, ID: 45d7882e-0be1-4197-90d5-e915ef5ac285
Name: my_db, attack_prediction, ID: 451dd314-e8c4-4d2f-b302-5fc8c291b19d
Name: House Sales Pricing King County, ID: 431dcde1-98bf-416c-8188-aa32c3cb3570
Name: Illicit trade Knowledge Graph, ID: 394ca419-09a3-44cc-b49d-26676ba7d3b2
Name: NBA Game Dataset, ID: 2e167490-c803-4a9a-a317-6e274c6b3a37
Name: best_office_activity, ID: 2db2301f-c701-4d9e-a1d1-3d2d64fa9dd9
Name: Machine Learning-Based Tour Recommendation System, ID: 2d300e6f-5798-42d2-a3ce-b234d4b8317a
Name: fair_dm, ID: 21eb2f7b-cea6-49f2-8dfc-03d3f03fd636
Name: ames_housing_prices, ID: 20dc7a48-04c1-4596-812b-03ffa49f4e5c
Name: Prediction of Airbnb Rental Prices using Machine Learning, ID: 20007276-c04a-4c21-b12f-5aed3fe39388
Name: University Rankings, ID: 1b5ad9c5-c3fa-42ae-975b-19ee5ef679bd
Name: rossmann_store_sales, ID: 18021ccb-88bd-41af-98db-835cb7dc7354
Name: Rainfall Prediction, ID: 128c14f7-f0c3-400d-9467-448cd7124948
Name: Lego, ID: 10700219-44db-4016-9944-a2987ef86ee1

In [194]:
database_id = "e30f2ca5-ba60-4587-849b-4a496abfc186"

In [161]:
data_df = pd.read_csv('data1.csv')  # The original triples with IDs
data_df = data_df.set_index('ID')

In [195]:
data_df

                         head         relationship                   tail
ID
1               Abraham Trust            partnered     Geoffrey Jenkinson
2     Benjamin Bishop Johnson    appraised_art_for          David Swetnam
3                Donald Hales    appraised_art_for     Leonardo Patterson
4              Giacomo Medici    appraised_art_for    Nikolas Koutoulakis
5                  Jack Ogden    appraised_art_for   Michael Ward Gallery
...                       ...                  ...                    ...
1200             Robert Hecht  sold_antiquities_to            Marion True
1201           Giacomo Medici  sold_antiquities_to            Marion True
1202             Robert Hecht      implicated_with            Marion True
1203           Giacomo Medici      implicated_with            Marion True
1204                Sotheby's             returned  Empress Dou Figurines

[1204 rows x 3 columns]

In [196]:
##uploat table
client.create_table(database_id, "illicit antiques trade network", True, True, data_df,
                     "triples describing relationships between people, institutions, countries and the movement of antiques and artifacts", True)

TableBrief(id='7dfe8ed0-eaad-41e9-9987-55ee027ee983', database_id='e30f2ca5-ba60-4587-849b-4a496abfc186', name='illicit antiques trade network', description='triples describing relationships between people, institutions, countries and the movement of antiques and artifacts', internal_name='illicit_antiques_trade_network', is_versioned=True, is_public=True, is_schema_public=True, owned_by='fe88dee0-b5fa-103f-925a-771c9581a932')

In [197]:
internal_name='illicit_antiques_trade_network'

In [198]:
def get_all_tables(client, database_id: str) -> List:
    """
    List all tables in a given database by ID.
    
    :param client: Authenticated RestClient
    :param database_id: The database UUID
    :return: List of (table name, table id)
    """
    url = f'/api/database/{database_id}/table'
    response = client._wrapper(method="get", url=url)
    
    if response.status_code == 200:
        tables_json = response.json()
        # you may need to validate this using TypeAdapter if TableBrief or similar exists
        return [(table["name"], table["id"]) for table in tables_json]

    raise Exception(f"Failed to get tables: {response.status_code}: {response.text}")

In [199]:
tables = get_all_tables(client, database_id)

# Print them out
for name, table_id in tables:
    print(f"Table Name: {name}, Table ID: {table_id}")

Table Name: illicit antiques trade network, Table ID: 7dfe8ed0-eaad-41e9-9987-55ee027ee983

In [212]:
table_id="7dfe8ed0-eaad-41e9-9987-55ee027ee983"
table_name = "illicit_antiques_trade_network"

In [202]:
#get table
def fetch_all_table_data(client, database_id: str, table_id: str):
    """
    Fetch all data from a table using pagination and return it as a pandas DataFrame.

    :param client: The API client.
    :param database_id: The database ID.
    :param table_id: The table ID.
    :return: A pandas DataFrame containing all the table data.
    """
    all_data = []
    page = 0
    size = 100  # You can adjust the page size if needed
    
    while True:
        table_data = client.get_table_data(database_id, table_id, page, size)
        
        if table_data.empty:
            break  # No more data
        
        all_data.append(table_data)
        page += 1  # Go to the next page

    # Concatenate all pages into one big DataFrame
    full_data = pd.concat(all_data, ignore_index=True)
    
    return full_data

In [203]:
full_data

,head,relationship,tail,id
0,Abraham Trust,partnered,Geoffrey Jenkinson,1
1,Benjamin Bishop Johnson,appraised_art_for,David Swetnam,2
2,Donald Hales,appraised_art_for,Leonardo Patterson,3
3,Giacomo Medici,appraised_art_for,Nikolas Koutoulakis,4
4,Jack Ogden,appraised_art_for,Michael Ward Gallery,5
...,...,...,...,...
1199,Robert Hecht,sold_antiquities_to,Marion True,1200
1200,Giacomo Medici,sold_antiquities_to,Marion True,1201
1201,Robert Hecht,implicated_with,Marion True,1202
1202,Giacomo Medici,implicated_with,Marion True,1203
1203,Sotheby's,returned,Empress Dou Figurines,1204

## Create query to split into subsets according to how the data was split

In [204]:
df = split_df.rename(columns={"Unnamed: 0": "ID"})

In [206]:
# --- Extract ID lists per split ---
train_ids    = df.loc[df["split"] == "train",     "ID"].astype(str).tolist()
validate_ids = df.loc[df["split"] == "validation","ID"].astype(str).tolist()
test_ids     = df.loc[df["split"] == "test",      "ID"].astype(str).tolist()

# --- Step 3: Create regex strings ---
train_regex    = "^(" + "|".join(train_ids)    + ")$"
validate_regex = "^(" + "|".join(validate_ids) + ")$"
test_regex     = "^(" + "|".join(test_ids)     + ")$"

# Print the regex strings
print("Train IDs regex:   ", train_regex)
print("Validate IDs regex:", validate_regex)
print("Test IDs regex:    ", test_regex)

Train IDs regex:    ^(0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59|60|61|62|63|64|65|66|67|68|69|70|71|72|73|74|75|76|77|78|79|80|81|82|83|84|85|86|87|88|89|90|91|92|93|94|95|96|97|98|99|100|101|102|103|104|105|106|107|108|109|110|111|112|113|114|115|116|117|118|119|120|121|122|123|124|125|126|127|128|129|130|131|132|133|134|135|136|137|138|139|140|141|142|143|144|145|146|147|148|149|150|151|152|153|154|155|156|157|158|159|160|161|162|163|164|165|166|167|168|169|170|171|172|173|174|175|176|177|178|179|180|181|182|183|184|185|186|187|188|189|190|191|192|193|194|195|196|197|198|199|200|201|202|203|204|205|206|207|208|209|210|211|212|213|214|215|216|217|218|219|220|221|222|223|224|225|226|227|228|229|230|231|232|233|234|235|236|237|238|239|240|241|242|243|244|245|246|247|248|249|250|251|252|253|254|255|256|257|258|259|260|261|262|263|264|265|266|267|268|269|270|271|272|273|274|275|276|277|278|279|280|281|282|283|284|285|286|287|288|289|290|291|292|293|294|295|296|297|298|299|300|301|302|303|304|305|306|307|308|309|310|311|312|313|314|315|316|317|318|319|320|321|322|323|324|325|326|327|328|329|330|331|332|333|334|335|336|337|338|339|340|341|342|343|344|345|346|347|348|349|350|351|352|353|354|355|356|357|358|359|360|361|362|363|364|365|366|367|368|369|370|371|372|373|374|375|376|377|378|379|380|381|382|383|384|385|386|387|388|389|390|391|392|393|394|395|396|397|398|399|400|401|402|403|404|405|406|407|408|409|410|411|412|413|414|415|416|417|418|419|420|421|422|423|424|425|426|427|428|429|430|431|432|433|434|435|436|437|438|439|440|441|442|443|444|445|446|447|448|449|450|451|452|453|454|455|456|457|458|459|460|461|462|463|464|465|466|467|468|469|470|471|472|473|474|475|476|477|478|479|480|481|482|483|484|485|486|487|488|489|490|491|492|493|494|495|496|497|498|499|500|501|502|503|504|505|506|507|508|509|510|511|512|513|514|515|516|517|518|519|520|521|522|523|524|525|526|527|528|529|530|531|532|533|534|535|536|537|538|539|540|541|542|543|544|545|546|547|548|549|550|551|552|553|554|555|556|557|558|559|560|561|562|563|564|565|566|567|568|569|570|571|572|573|574|575|576|577|578|579|580|581|582|583|584|585|586|587|588|589|590|591|592|593|594|595|596|597|598|599|600|601|602|603|604|605|606|607|608|609|610|611|612|613|614|615|616|617|618|619|620|621|622|623|624|625|626|627|628|629|630|631|632|633|634|635|636|637|638|639|640|641|642|643|644|645|646|647|648|649|650|651|652|653|654|655|656|657|658|659|660|661|662|663|664|665|666|667|668|669|670|671|672|673|674|675|676|677|678|679|680|681|682|683|684|685|686|687|688|689|690|691|692|693|694|695|696|697|698|699|700|701|702|703|704|705|706|707|708|709|710|711|712|713|714|715|716|717|718|719|720|721|722|723|724|725|726|727|728|729|730|731|732|733|734|735|736|737|738|739|740|741|742|743|744|745|746|747|748|749|750|751|752|753|754|755|756|757|758|759|760|761|762|763|764|765|766|767|768|769|770|771|772|773|774|775|776|777|778|779|780|781|782|783|784|785|786|787|788|789|790|791|792|793|794|795|796|797|798|799|800|801|802|803|804|805|806|807|808|809|810|811|812|813|814|815|816|817|818|819|820|821|822|823|824|825|826|827|828|829|830|831|832|833|834|835|836|837|838|839|840|841|842|843|844|845|846|847|848|849|850|851|852|853|854|855|856|857|858|859|860|861|862|863|864|865|866|867|868|869|870|871|872|873|874|875|876|877|878|879|880|881|882|883|884|885|886|887|888|889|890|891|892|893|894|895|896|897|898|899|900|901|902|903|904|905|906|907|908|909|910|911|912|913|914|915|916|917|918|919|920|921|922|923|924|925|926|927|928|929|930|931|932|933|934|935|936|937|938|939|940|941|942|943|944|945|946|947|948|949|950|951|952|953|954|955|956|957|958|959|960|961|962)$
Validate IDs regex: ^(963|964|965|966|967|968|969|970|971|972|973|974|975|976|977|978|979|980|981|982|983|984|985|986|987|988|989|990|991|992|993|994|995|996|997|998|999|1000|1001|1002|1003|1004|1005|1006|1007|1008|1009|1010|1011|1012|1013|1014|1015|1016|1017|1018|1019|1020|1021|1022|1023|1024|1025|1026|1027|1028|1029|1030|1031|1032|1033|1034|1035|1036|1037|1038|1039|1040|1041|1042|1043|1044|1045|1046|1047|1048|1049|1050|1051|1052|1053|1054|1055|1056|1057|1058|1059|1060|1061|1062|1063|1064|1065|1066|1067|1068|1069|1070|1071|1072|1073|1074|1075|1076|1077|1078|1079|1080|1081|1082|1083)$
Test IDs regex:     ^(1084|1085|1086|1087|1088|1089|1090|1091|1092|1093|1094|1095|1096|1097|1098|1099|1100|1101|1102|1103|1104|1105|1106|1107|1108|1109|1110|1111|1112|1113|1114|1115|1116|1117|1118|1119|1120|1121|1122|1123|1124|1125|1126|1127|1128|1129|1130|1131|1132|1133|1134|1135|1136|1137|1138|1139|1140|1141|1142|1143|1144|1145|1146|1147|1148|1149|1150|1151|1152|1153|1154|1155|1156|1157|1158|1159|1160|1161|1162|1163|1164|1165|1166|1167|1168|1169|1170|1171|1172|1173|1174|1175|1176|1177|1178|1179|1180|1181|1182|1183|1184|1185|1186|1187|1188|1189|1190|1191|1192|1193|1194|1195|1196|1197|1198|1199|1200|1201|1202|1203)$

In [207]:
train_filter = FilterDefinition(
    type=FilterType.WHERE,
    column="id",        # Column name
    operator="REGEXP",      # 'in' operator for checking membership
    value=train_regex  # Join IDs into a comma-separated string
)

In [208]:
validation_filter = FilterDefinition(
    type=FilterType.WHERE,
    column="id",        # Column name
    operator="REGEXP",      # 'in' operator for checking membership
    value=validate_regex  # Join IDs into a comma-separated string
)

In [209]:
test_filter = FilterDefinition(
    type=FilterType.WHERE,
    column="id",        # Column name
    operator="REGEXP",      # 'in' operator for checking membership
    value=test_regex  # Join IDs into a comma-separated string
)

In [235]:
test_query = QueryDefinition(
    table="illicit_antiques_trade_network",  # Table name,  # Table name
    columns=["head", "relationship", "tail", "id"],  # Select all columns
    filter = [test_filter]
)


# Initialize variables for pagination
page = 0
size = 4000  # You can adjust this to a higher value to reduce the number of pages
all_data = []

# Call create_subset with the required parameters
timestamp = datetime.datetime.now()  # Optional, set to None to query current data


    # Call the create_subset method with the current page and size
result = client.create_subset(
        database_id=database_id,
        query=test_query,
        page=page,
        size=size,
        timestamp=timestamp
    )
    
   
# Now, final_data contains all the records
print(result)

2025-04-28 17:02:42,911 root         INFO   Created subset with id: 304d946a-2440-11f0-bf18-c60333c11641
                    head         relationship                   tail    id
0                Cancuén             base_for        Sylvanus Morley  1084
1                 Xultún             base_for        Sylvanus Morley  1085
2                 London             base_for         Vladimir Mefty  1086
3            Switzerland    transit_point_for       Morgantina Venus  1087
4          United States    transit_point_for  El Zotz Wooden Lintel  1088
..                   ...                  ...                    ...   ...
115  Lawrence Fleischman      implicated_with            Marion True  1199
116         Robert Hecht  sold_antiquities_to            Marion True  1200
117       Giacomo Medici  sold_antiquities_to            Marion True  1201
118         Robert Hecht      implicated_with            Marion True  1202
119       Giacomo Medici      implicated_with            Marion True  1203

[120 rows x 4 columns]

In [226]:
client.get_subset_data(database_id, "304d946a-2440-11f0-bf18-c60333c11641",  0, 10)

     id           head       relationship                            tail
0  1084        Cancuén           base_for                 Sylvanus Morley
1  1085         Xultún           base_for                 Sylvanus Morley
2  1086         London           base_for                  Vladimir Mefty
3  1087    Switzerland  transit_point_for                Morgantina Venus
4  1088  United States  transit_point_for           El Zotz Wooden Lintel
5  1089    Switzerland  transit_point_for  Euphronios ( Sarpedon ) krater
6  1090  United States  transit_point_for   red-on-buff decorated pottery
7  1091          Japan  transit_point_for                    El Salvadore
8  1092   Saudi Arabia  transit_point_for                    El Salvadore
9  1093  United States  transit_point_for                    El Salvadore

In [229]:
client.update_subset(database_id,"304d946a-2440-11f0-bf18-c60333c11641",True)

ValidationError: 3 validation errors for Query
type
  Input should be 'view' or 'query' [type=enum, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
query_normalized
  Input should be a valid string [type=string_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/string_type
identifiers
  Input should be a valid list [type=list_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/list_type

In [232]:
validation_query = QueryDefinition(
    table="illicit_antiques_trade_network",  # Table name,  # Table name
    columns=["head", "relationship", "tail", "id"],  # Select all columns
    filter = [validation_filter]
)


# Initialize variables for pagination
page = 0
size = 4000  # You can adjust this to a higher value to reduce the number of pages
all_data = []

# Call create_subset with the required parameters
timestamp = datetime.datetime.now()  # Optional, set to None to query current data


    # Call the create_subset method with the current page and size
result = client.create_subset(
        database_id=database_id,
        query=validation_query,
        page=page,
        size=size,
        timestamp=timestamp
    )
    
   
# Now, final_data contains all the records
print(result)

2025-04-28 17:01:30,228 root         INFO   Created subset with id: aa776d4d-2441-11f0-8632-66164a21a937
                    head   relationship                           tail    id
0                 London  auctioned_for                    Vaman Ghiya   963
1               New York  auctioned_for                    Vaman Ghiya   964
2              Sotheby's  auctioned_for                    Vaman Ghiya   965
3          Mat Securitas    belonged_to                 Giacomo Medici   966
4       Hôtel des Ventes  auctioned_for                    Guy Loudmer   967
..                   ...            ...                            ...   ...
116              Finland       base_for              Larisa Zavadskaya  1079
117  Museum of Fine Arts      possessed                   Maya pottery  1080
118                Perth       base_for                    Ong Soo Hin  1081
119             New York       base_for            Phoenix Ancient Art  1082
120        South America       base_for  Roger Cornelius Russell Yorke  1083

[121 rows x 4 columns]

In [233]:
client.get_subset_data(database_id, "aa776d4d-2441-11f0-8632-66164a21a937",  0, 10)

    id              head   relationship                  tail
0  963            London  auctioned_for           Vaman Ghiya
1  964          New York  auctioned_for           Vaman Ghiya
2  965         Sotheby's  auctioned_for           Vaman Ghiya
3  966     Mat Securitas    belonged_to        Giacomo Medici
4  967  Hôtel des Ventes  auctioned_for           Guy Loudmer
5  968  Hôtel des Ventes  auctioned_for          Hervé Poulin
6  969              eBay  auctioned_for       Hoi An ceramics
7  970      Arts of Asia  auctioned_for         John Eskenazi
8  971           Bonhams  auctioned_for        Joseph Garnish
9  972           Bonhams  auctioned_for  Marquis of Tavistock

In [234]:
client.update_subset(database_id,"aa776d4d-2441-11f0-8632-66164a21a937",True)

ValidationError: 3 validation errors for Query
type
  Input should be 'view' or 'query' [type=enum, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
query_normalized
  Input should be a valid string [type=string_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/string_type
identifiers
  Input should be a valid list [type=list_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/list_type

In [237]:
train_query = QueryDefinition(
    table="illicit_antiques_trade_network",  # Table name
    columns=["head", "relationship", "tail", "id"],  # Select all columns
    filter = [train_filter]
)


# Initialize variables for pagination
page = 0
size = 4000  # You can adjust this to a higher value to reduce the number of pages
all_data = []

# Call create_subset with the required parameters
timestamp = datetime.datetime.now()  # Optional, set to None to query current data


    # Call the create_subset method with the current page and size
result = client.create_subset(
        database_id=database_id,
        query=train_query,
        page=page,
        size=size,
        timestamp=timestamp
    )
    
   
# Now, final_data contains all the records
print(result)

2025-04-28 17:03:31,126 root         INFO   Created subset with id: f250b964-2441-11f0-bf18-c60333c11641
                        head       relationship                  tail   id
0              Abraham Trust          partnered    Geoffrey Jenkinson    1
1    Benjamin Bishop Johnson  appraised_art_for         David Swetnam    2
2               Donald Hales  appraised_art_for    Leonardo Patterson    3
3             Giacomo Medici  appraised_art_for   Nikolas Koutoulakis    4
4                 Jack Ogden  appraised_art_for  Michael Ward Gallery    5
..                       ...                ...                   ...  ...
957                     Asia         source_for          Robert Olson  958
958                 Thailand         source_for          Robert Olson  959
959                   Hoi An           base_for         Captain Trang  960
960               Christie's      auctioned_for           Barry Stern  961
961               Christie's      auctioned_for           Vaman Ghiya  962

[962 rows x 4 columns]

In [238]:
client.get_subset_data(database_id, "f250b964-2441-11f0-bf18-c60333c11641",  0, 10)

,id,head,relationship,tail
0,1,Abraham Trust,partnered,Geoffrey Jenkinson
1,2,Benjamin Bishop Johnson,appraised_art_for,David Swetnam
2,3,Donald Hales,appraised_art_for,Leonardo Patterson
3,4,Giacomo Medici,appraised_art_for,Nikolas Koutoulakis
4,5,Jack Ogden,appraised_art_for,Michael Ward Gallery
5,6,Joel Malter,appraised_art_for,Robert Olson
6,7,John Betts,appraised_art_for,Michael Ward Gallery
7,8,Paul Clifford,appraised_art_for,Leonardo Patterson
8,9,Roxanna Brown,appraised_art_for,Jonathan and Cari Markell
9,10,Edward Johnson,caught_by,Immigration and Customs Enforcement

In [239]:
client.update_subset(database_id,"f250b964-2441-11f0-bf18-c60333c11641",True)

ValidationError: 3 validation errors for Query
type
  Input should be 'view' or 'query' [type=enum, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
query_normalized
  Input should be a valid string [type=string_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/string_type
identifiers
  Input should be a valid list [type=list_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/list_type

In [240]:
get_all_subsets(client, database_id)

[('304d946a-2440-11f0-bf18-c60333c11641', '<no-title>'),
 ('aa776d4d-2441-11f0-8632-66164a21a937', '<no-title>'),
 ('f250b964-2441-11f0-bf18-c60333c11641', '<no-title>')]

## Identification - fails and is not documented properly :(

In [241]:
from dbrepo.api.dto import License
# Create a License instance
license = License(
    identifier="CC-BY-4.0",  # License identifier, for example, the license code
    uri="https://creativecommons.org/licenses/by/4.0/",  # URI pointing to the license details
    description="This is a Creative Commons Attribution 4.0 International License"  # Description of the license
)

In [246]:
from dbrepo.RestClient import RestClient
from dbrepo.api.dto import IdentifierType, CreateIdentifierFunder, CreateIdentifierDescription, \
    CreateIdentifierTitle, Identifier, CreateIdentifierCreator, CreateRelatedIdentifier, RelatedIdentifierType, \
    RelatedIdentifierRelation


client.create_identifier(
    database_id=database_id, 
    type = IdentifierType.DATABASE, 
    titles=[CreateIdentifierTitle(title="illicit_antiques_trade_network")],
    publisher="TU Wien",
    creators=[CreateIdentifierCreator(
        creator_name="Daria Stefan",
        name_identifier="https://orcid.org/0009-0008-0586-9350")],
    publication_year=2025,
  )

print(f"identifier id: {identifier.id}")

ValidationError: 1 validation error for CreateIdentifier
descriptions
  Input should be a valid list [type=list_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/list_type

In [249]:
from dbrepo.RestClient import RestClient
from dbrepo.api.dto import IdentifierType, CreateIdentifierFunder, CreateIdentifierDescription, \
    CreateIdentifierTitle, Identifier, CreateIdentifierCreator, CreateRelatedIdentifier, RelatedIdentifierType, \
    RelatedIdentifierRelation


client.create_identifier(
    database_id="e30f2ca5-ba60-4587-849b-4a496abfc186", 
    type = IdentifierType.DATABASE, 
    titles=[CreateIdentifierTitle(title="illicit antiques trade network")],
    publisher="TU Wien",
    creators=[CreateIdentifierCreator(
        creator_name="Daria Stefan",
        name_identifier="https://orcid.org/0009-0008-0586-9350")],
    publication_year=2025,
  )

print(f"identifier id: {identifier.id}")

ValidationError: 1 validation error for CreateIdentifier
descriptions
  Input should be a valid list [type=list_type, input_value=None, input_type=NoneType]
    For further information visit https://errors.pydantic.dev/2.11/v/list_type

## utils

In [140]:
#get subsets
def get_all_subsets(client, database_id: str):
    """
    List all subsets in a given database.
    Returns a list of (subset_id, name) tuples.
    """
    url = f'/api/database/{database_id}/subset'
    response = client._wrapper(method="get", url=url)

    if response.status_code == 200:
        subsets = response.json()
        results = []
        for subset in subsets:
            subset_id = subset['id']
            try:
                name = subset['identifiers'][0]['titles'][0]['title']
            except (KeyError, IndexError, TypeError):
                name = "<no-title>"
            results.append((subset_id, name))
        return results

    raise Exception(f"Failed to get subsets: {response.status_code}: {response.text}")

In [141]:
get_all_subsets(client, database_id)

[('02f01bb4-2433-11f0-8632-66164a21a937', '<no-title>'),
 ('11a9f85b-2411-11f0-8632-66164a21a937', '<no-title>'),
 ('12561777-243a-11f0-8632-66164a21a937', '<no-title>'),
 ('14014c45-21c9-11f0-8d13-0e8cdc00dc05', 'Test Set'),
 ('19f1ebd4-21c5-11f0-bed7-02bbcde59723', '<no-title>'),
 ('1c379f05-243a-11f0-8632-66164a21a937', '<no-title>'),
 ('2239439b-243a-11f0-8632-66164a21a937', '<no-title>'),
 ('2475f958-21c4-11f0-8d13-0e8cdc00dc05', 'Training Set'),
 ('38ba5311-21c5-11f0-8d13-0e8cdc00dc05', 'Validation Set'),
 ('3c5e787f-2434-11f0-8632-66164a21a937', '<no-title>'),
 ('47acef31-2439-11f0-8632-66164a21a937', '<no-title>'),
 ('4dceff09-2439-11f0-97fd-36086aeef04e', '<no-title>'),
 ('57b9bbd0-243a-11f0-bf18-c60333c11641', '<no-title>'),
 ('65e04dc5-2439-11f0-bf18-c60333c11641', '<no-title>'),
 ('6d2a3ed6-243a-11f0-8632-66164a21a937', '<no-title>'),
 ('6f3725ba-2439-11f0-8632-66164a21a937', '<no-title>'),
 ('7711a19f-2439-11f0-8632-66164a21a937', '<no-title>'),
 ('7d10c992-2439-11f0-8632-66164a21a937', '<no-title>'),
 ('7f030c37-243a-11f0-bf18-c60333c11641', '<no-title>'),
 ('9100daf4-2439-11f0-97fd-36086aeef04e', '<no-title>'),
 ('9f90a8c5-21c8-11f0-88e8-b68ae8e66242', 'Validation Set'),
 ('ad49986a-2439-11f0-97fd-36086aeef04e', '<no-title>'),
 ('b414bd85-2439-11f0-bf18-c60333c11641', '<no-title>'),
 ('bbec2b8b-2439-11f0-8632-66164a21a937', '<no-title>'),
 ('bf3f339a-2438-11f0-97fd-36086aeef04e', '<no-title>'),
 ('c43fb8cd-2431-11f0-97fd-36086aeef04e', '<no-title>'),
 ('c6819895-243a-11f0-97fd-36086aeef04e', '<no-title>'),
 ('c8b6b220-2439-11f0-bf18-c60333c11641', '<no-title>'),
 ('d451caf4-21c4-11f0-bed7-02bbcde59723', '<no-title>'),
 ('d52b96a7-2438-11f0-8632-66164a21a937', '<no-title>'),
 ('f47c472f-2438-11f0-8632-66164a21a937', '<no-title>'),
 ('f94a79b5-21c4-11f0-8d13-0e8cdc00dc05', '<no-title>')]

In [ ]:
def download_subset_data(client, database_id: str, subset_id: str = None, title: str = None):
    """
    Download data from a specific subset based on subset_id or title and save it as a CSV.
    If subset_id is provided, it will fetch data using that ID. 
    If title is provided, it will find the subset with the matching title and fetch its data.
    """
    if not subset_id and not title:
        raise ValueError("Either subset_id or title must be provided.")
    
    if title:
        # Search for the subset by title
        all_subsets = get_all_subsets(client, database_id)  # This should return a list of tuples (subset_id, title)
        subset = next((s for s in all_subsets if s[1] == title), None)
        if subset:
            subset_id = subset[0]
        else:
            raise ValueError(f"No subset found with title: {title}")

    all_data = []
    page = 0
    size = 100  # Adjust the page size as needed
    
    while True:
        subset_data = client.get_subset_data(database_id, subset_id, page, size)
        if subset_data.empty:
            break  # Exit the loop when no more data is found
        
        all_data.append(subset_data)
        page += 1  # Move to the next page
    
    # Concatenate all pages into one DataFrame
    full_data = pd.concat(all_data, ignore_index=True)
    
    # Save the full data as a CSV
    file_name = f"{title.replace(' ', '_') if title else subset_id}_data.csv"
    full_data.to_csv(file_name, index=False)
    print(f"Data for subset ID '{subset_id}' or title '{title}' saved as {file_name}")

# TUWRD

In [1]:
import requests
url = "https://researchdata.tuwien.ac.at/api/records"
headers = {
    "Authorization": "Bearer {your-access-token}",
    "Content-Type": "application/json"
}
data = {
    "metadata": {
        "creators": [
            {
                "person_or_org": {
                    "family_name": "Doe",
                    "given_name": "Jane",
                    "type": "personal",
                }
            }
        ],
        "publication_date": "2025-01-09",
        "publisher": "TU Wien",
        "resource_type": {"id": "dataset"},
        "title": "New Dataset Title",
    },
    "files": {"enabled": True},
}

response = requests.post(url, json=data, headers=headers)
print(response.json())

{'status': 403, 'message': 'Permission denied.'}

In [ ]:
import requests
url = "https://researchdata.tuwien.ac.at/api/records/abcde-12345/draft/pids/doi"
headers = {
    "Authorization": "Bearer {your-access-token}",
}

response = requests.post(url, headers=headers)
print(response.json())